[Desktop Entry]
Encoding=UTF-8
Name=Link to CourseWork/Duke at master · ZellW/CourseWork · GitHub
Type=Link
URL=https://github.com/ZellW/CourseWork/tree/master/Duke
Icon=text-html
