[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenIntro
Type=Link
URL=https://www.openintro.org/stat/videos.php
Icon=text-html
Name[en_US]=Link to OpenIntro videos
