[Desktop Entry]
Encoding=UTF-8
Name=Link to Codebook for Movies dataset
Type=Link
URL=https://d3c33hcgiwev3.cloudfront.net/_73393031e98b997cf2445132f89606a1_movies_codebook.html?Expires=1549756800&Signature=ZxLpSqgNIghjjUkb3odblyB8Usl-it2biT2H4TEfUkdoLtwEqJznRWEb9VGyeqFzVHvY~PvCh9ot6WnKvVhkkYASmonyNjoV-O4BGzfaMqGg8j9-5sejuTTtzzsxS-D3AsaNtqw-3kGBg03txajLP3yK6uEYJqzGgQItWUwmxRU_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A
Icon=text-html
