[Desktop Entry]
Encoding=UTF-8
Name=Link to Linear Regression and Modeling - Project Rubric
Type=Link
URL=https://d3c33hcgiwev3.cloudfront.net/_e57696554fbcbc214503864e8755f2a1_reg_model_project_rubric.html?Expires=1549756800&Signature=KupxjxprHOWwaEpRaLMxVe1uP0YCRnWnlra2~fLm8D7i2O9ruHJnTDd2Vmy0NCmC-suuqX41AGf~KQEEHlz5Iykr4lMZnq~uuyOYtmNU0cK-MGHZJayjPAL~uB0x2n6PhhciaM1r~bXSC9ogGTyAQ62gwJVHBqEiLjzKMlV8BX0_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A
Icon=text-html
